//
header {
    left: 0!important;
    height: 90px!important;
}
main{
    padding: 48px 0 0 110px!important;
    max-width: 1070px!important;
    margin-left: auto!important;
    margin-right: auto!important;
    padding-left: 0!important;
    width: 100%!important;
}
